body {
    font-size: 48px;
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

input[type="submit"] {
    font-size: 48px;
}

.filter-button {
    font-size: 48px;
    /* Add any other desired styles */
}

.container {
    text-align: center;
}

.filter-button {
    background-color: #ddd;
    padding: 10px;
    margin: 5px;
    border: none;
}

.filter-button.active {
    background-color: #555;
    color: #fff;
}

.scrollable-div {
    max-height: 1100px;  /* Or whatever maximum height you want */
    overflow-y: auto;   /* Enable vertical scrolling */
    margin: 60px;       /* Optional: Adds some space around the div */
    padding: 40px;      /* Optional: Adds some space between the border and the content */
    border: 1px solid #ccc;  /* Optional: Adds a border around the div */
}

ul {
    list-style-type: none;
}