<!DOCTYPE html>
<html>
<head>
    <title>Food Picker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
<div class="container">
    <h1><strong><u>Food Picker Bitch!</u></strong></h1>
    <h2>Filters:</h2>
    <button id="filter1" class="filter-button" onclick="toggleFilter('filter1')">Classics</button>
    <button id="filter2" class="filter-button" onclick="toggleFilter('filter2')">Take Out</button>
    <button id="filter3" class="filter-button" onclick="toggleFilter('filter3')">Date Night</button>
    <p>&nbsp;</p>
    <form action="/process" method="post">
        <input type="hidden" id="selectedFilter" name="filter" value="">
        <input type="submit" value="Get Suggestion">
    </form>
</div>
</body>
</html>
